
header{
    width: 100%;
    height: 35px;
    position: fixed;
    text-align: center;
    
}
.NYT-logo{
    display: block;
    width: 189px;
    height: 26px;
    margin: 5px auto 0;
    text-align: center;

}
.header-full{
    width: 100%;
    height: 35px;
    
    
    
}
.rectangle-menu{
    float: left;
    width: 15px;
    height: 15px;
    }
.header-padding{
    size:inherit;
    height: 35px;
}
/* .subscribe-today{
    color: rgb(50, 104, 145);
    text-decoration: none;
} */
/* .side-links{
    font-size: 10px;
    margin-left: auto;
    text-transform: uppercase;
    display: block;
    float: right;
} */
/* .side-buttons{
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase; */
}
/* .search-button{
    color: #000;
    font-size: 11px;
    font-weight: 700;
    transition: ease 0.6s;
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    padding: 8px 9px 9px;
    letter-spacing: 0.02em;
    border: 0;
    display: inline-block;
} */

