header {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    margin: 0;
    padding: 0 16px 16px;
}
footer{
    margin-top:16px;
    width: 100%;
    border-top:solid #e2e2e2 1px;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;
}

.font {
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    
}

.header-left-icon {
    height: 16px;
    display: inline;
    margin-top: 6px;
    margin-left: 16px;
    float:left;
}
.header{
    text-align: center;
    
}

.header-text {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
}

.header-text:hover {
    text-decoration: underline;
}

.header-logo-container {
    text-align: center;
    display: inline-block;
    
}

.header-right-button {
    right: 10px;
    display: inline;
    float: right;

}

.btn-header {
    margin: 8px;
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,
        helvetica,
        arial,
        sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 8px 9px 6px;
    text-transform: uppercase;

}

/* Body Section */

.title-container {
    text-align: center;

}

.title-text {
    display: inline-block;
    max-width: 345.922px;
    color: #121212;
}

.author-text {
    color: #333;
    display: inline;
}

.body-article {
    padding-left: 330px;
    padding-right: 330px;
    
}

/* Article text section */
.article-text {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-right: 7px;
    color: #666;
    font-family: nyt-imperial,
        georgia,
        'times new roman',
        times,
        serif;
}

.div-text {
    margin-bottom: 1.25rem;
}

.p-text {
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

div .in-ic {
    display: inline-block;
    margin: 0 auto;

}

.right-ic {
    display: inline;
    float: right;
}

.background-ic {
    
    padding: 5px;
    margin: 12px;
    border: 1px #eee solid;
    background-color: #eee;
    border-radius: 100%;
}

.background-ic:hover {
    background-color: white;
}

.article-img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
.inside-article-img-container{
    text-align: center;
}

.article-video {
    width: 600px;
    height: 400px;
}

.article-video-text {
    color: #666;
}

.btn-comment {
font-size: .8125rem;
font-family: nyt-franklin,
helvetica,
arial,
sans-serif;
border: 1px solid #326891;
border-radius: 3px;
color: #fff;
display: inline;
font-weight: 600;
letter-spacing: .05em;
line-height: 1.5rem;
padding: 5px 0;
text-transform: uppercase;
width: 330px;
background-color: #6288a5;
-webkit-transition: background-color .6s ease;
transition: background-color .6s ease;
}

.version-text{
    font-size: 0.75rem;
    color: #999;
    line-height: 1rem;
    max-width: 630px;
    margin-bottom: 24px;
}

.more-articles{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 30px;
    margin-left: 2%;
}
.more-articles .more-header{
    border-top: 1px solid #ccc;
    
}
.more-header h2{
    display: inline-block;
    padding: 0;
}
.more-header a{
    color: #6288a5;
    display: inline-block;
    font-family: 'Libre Franklin', georgia, 'Times New Roman';
    font-size: 10px;
    text-align: right;
    vertical-align: middle;
    float: right;
    margin-top: 24px;
    margin-right: 24px;
}

.more-articles .more-items .more-item{
    width: 30%;
    margin: 8px;
    display: inline-block;
}

.more-item h5{

}
.trending-articles{
    border-top: 1px solid #ccc;
    display: inline-block;
    height: 300px;
    margin-left: 5%;
    vertical-align: top;
    width: 32%;
    margin-top: 30px;
}
.trending-articles h5{
    margin: 10px 0;
}
.trending-articles ul{
    font-family: 'Times New Roman',georgia;
    list-style: none;

}
.trending-articles li{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.trending-articles p{
    display: inline-block;
    color: #326891;
    font-size: 14px;
}
.trending-articles img{
    float: right;
    height: 40px;
    text-align: right;
    width: 40px;

}
.trending-articles .ar-counter{
    line-height: 20px;
    padding-top: 5px;
    text-align: center;
    width: 20px;
    font-size: 24px;
}

.trending-articles li{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.footer-link{
    display: inline;
    font-size:12px;
    
    
    
}
.footer-link a{
    color: rgb(153, 153, 153);
    
}
.footer-link a:hover{
    text-decoration: underline;
}
.aside{
    display:block;
    float: right;
    margin-top: 50%;
}
.aside div{
    width: 250px;
}
.aside div span{
    text-align: left;
}
.aside ul{
    list-style: none;
    padding-left: 0;
}

.horizontal-line{
    background-color: #7f8c8d;
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: 0.55;
}
.side-bar{
    height:210 px;
    width: 100%;
    float: left;
}
.h3-text{
    font-size: 70%;
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    
}
.aside ul a{
    text-decoration: none;
}
.h3-text:hover{
    text-decoration: underline;
}
